.navis-topbar-start {
  margin-left: 6px;
}

.navis-topbar-sidebar {
  margin-left: 3px;
  margin-right: 3px;
}

.navis-topbar-divider {
  margin-left: 3px;
  margin-right: 3px;
}

.navis-topbar-extension {
  font-size: 10px;
}

.navis-topbar-extension:disabled {
  opacity: 0.45;
}
